.habits-container {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.card-subtitle {
    color: #666;
    margin-bottom: 5px;
    font-size: 1rem;
}

.card-text {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 10px;
}

.increment-button,
.decrement-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.decrement-button {
    background-color: #D9534F;
}

.increment-button:hover {
    background-color: #45A049;
}

.decrement-button:hover {
    background-color: #C9302C;
}

.initialize-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.initialize-button:hover {
    background-color: #0056b3;
}

.increment-button:disabled,
.decrement-button:disabled,
.initialize-button:disabled {
    background-color: gray;
}
