<div class="actions-container">
    <button mat-flat-button class="create-button" type="button" color="primary" (click)="openCreateHabitDialog()"
        matTooltip="Create a new habit">Create
    </button>
    <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" name="search" placeholder="Search for habit name" [(ngModel)]="searchHabitName"
            (keydown.enter)="filterHabitsBySearch()">
        <button *ngIf="searchHabitName" matSuffix mat-icon-button aria-label="Clear" (click)="resetHabitsList()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="habits-container container">
    <div class="row">
        <div class="col-sm-12 col-md-6" *ngFor="let habit of habits">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ habit.name }}</h5>
                    <h6 class="card-subtitle">{{ habit.category }}</h6>
                    <mat-divider></mat-divider>
                    <p class="card-text">{{ habit.description }}</p>
                    <p class="card-text">Current progress: {{ habit.targetProgress }} / {{ habit.target }}</p>
                    <p class="card-text">Target period: {{ habit.targetPeriod | lowercase}}</p>
                    <mat-progress-bar class="target-progressbar" mode="determinate"
                        [value]="getProgress(habit.targetProgress, habit.target)"></mat-progress-bar>
                    <mat-divider></mat-divider>
                    <div class="card-actions">
                        <button mat-icon-button class="increment-button" type="button"
                            (click)="onIncrementClick(habit.id)" [disabled]="habit.targetProgress === habit.target"
                            matTooltip="Increment habit progress">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button class="decrement-button" type="button"
                            (click)="onDecrementClick(habit.id)" [disabled]="habit.targetProgress === 0"
                            matTooltip="Decrement habit progress">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button mat-icon-button class="edit-button" type="button" (click)="openEditHabitDialog(habit)"
                            matTooltip="Modify habit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="category-button" type="button" matTooltip="Change category">
                            <mat-icon>category</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" class="delete-button" type="button"
                            (click)="onDeleteHabitClick(habit.id)" matTooltip="Delete habit">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>