h1 {
    font-family: 'Montserrat';
    font-weight: bold;
}

.welcome {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    font-size: 5vh;
}

.title {
    margin-top: 60px;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.statistics-container {
    margin-top: 10px;
    margin-left: 100px;
}